<h2 mat-dialog-title>
  Edit annual document
</h2>
<mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>Annual document</mat-label>
      <mat-select [(ngModel)]="annualDocumentFilename">
        <mat-option value="">None</mat-option>
        @for (filename of availableFilenames(); track filename) {
          <mat-option [value]="filename">{{ filename }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-button class="secondary-button" [mat-dialog-close]="null" routerLink="/admin/annual-documents">
      Manage documents
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="secondary-button" [mat-dialog-close]="null">Cancel</button>
  <button mat-button class="primary-button" (click)="onSubmit()" [disabled]="!isValid()">
    Save
  </button>
</mat-dialog-actions>
