<main class="main">
  <h1>{{ title }}</h1>
  <p>Today is: {{ today().toISODate() }}</p>
  @if (isAdmin()) {
    <today-picker [today]="today()"></today-picker>
    <booker-picker (bookerId)="bookerIdOverride.set($event)" [bookers$]="bookers$"></booker-picker>
  }
  <app-auth/>
  @if (user$ | async) {
    <mat-chip>
      Year: {{ dataService.configYear }}
    </mat-chip>
    <mat-chip>
      Current round: {{ reservationRoundsService.currentRound()?.name || 'none' }}
    </mat-chip>
    <week-table
      [bookers]="(bookers$ | async) || []"
      [currentBooker]="(currentBooker$ | async) || undefined"
      [weeks]="(weeks$ | async) || []"
      [units]="(units$ | async) || []"
      [permissions]="(permissions$ | async) || {adminUserIds: []}"
      [pricingTiers]="(pricingTiers$ | async) || {}"
      [reservations]="(reservations$ | async) || []"
      [unitPricing]="(unitPricing$ | async) || {}"
    />
    <round-config [rounds$]="reservationRounds$" [bookers$]="bookers$"/>
  } @else {
    <p>
      Please log in
    </p>
  }
</main>

<router-outlet/>
