<main class="main">
  <h1>{{ title }}</h1>
  <p>Today is: {{today().toISODate()}}</p>
  @if (isAdmin()) {
    <today-picker [today]="today()"></today-picker>
  }
  <app-auth/>
  @if (user$ | async) {
    Year: {{ dataService.configYear }}
    <week-table
      [bookers]="(bookers$ | async) || []"
      [currentBooker]="(currentBooker$ | async) || undefined"
      [weeks]="(weeks$ | async) || []"
      [units]="(units$ | async) || []"
      [permissions]="(permissions$ | async) || {adminUserIds: []}"
      [pricingTiers]="(pricingTiers$ | async) || {}"
      [reservations]="(reservations$ | async) || []"
      [unitPricing]="(unitPricing$ | async) || {}"
    />
  } @else {
    <p>
      Please log in
    </p>
  }
</main>

<router-outlet/>
