<table mat-table [dataSource]="tableRows$">
  <!-- Week Start Column -->
  <ng-container matColumnDef="week">
    <th mat-header-cell *matHeaderCellDef>Week</th>
    <td mat-cell *matCellDef="let element">
      {{ element.startDate | shortDate }} –
      {{ element.endDate | shortDate }}<br>
      {{ element.pricingTier?.name || '' }}
    </td>
    <td mat-footer-cell *matFooterCellDef>Pricing</td>
  </ng-container>

  <!-- Unit Columns -->
  <ng-container *ngFor="let unit of units" [matColumnDef]="unit.name">
    <th mat-header-cell *matHeaderCellDef> {{ unit.name }}</th>
    <td mat-cell *matCellDef="let weekRow">
      @let unitReservations = weekRow.reservations[unit.id];

      @if (unitReservations?.length > 1) {
        Reserved by the day
      } @else if (unitReservations?.length === 1) {
        @let reservation = unitReservations[0];
        {{ reservation.guestName }} ({{ bookerName(reservation.bookerId) || 'unknown' }})
      } @else {
        <button mat-icon-button (click)="addReservation(unit, weekRow.pricingTier, weekRow.startDate, weekRow.endDate)">
          <mat-icon class="material-icons-outlined">add_box</mat-icon>
        </button>
      }
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <table class="mat-mdc-table">
        <tr class="mat-mdc-row" *ngFor="let item of pricingTiers | keyvalue" [style]="rowStyle($any(item.value))">
          @let tier = $any(item.value);
          <td mat-cell>
            {{ tier.name }}
          </td>
          <td class="mat-mdc-cell">
            {{ unitTierPricing(unit, tier)?.weeklyPrice | currency }}/wk<br/>
            {{ unitTierPricing(unit, tier)?.dailyPrice | currency }}/day
          </td>
        </tr>
      </table>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="weeks-content" *matRowDef="let row; columns: displayedColumns"
      [style]="rowStyle(row.pricingTier)">
  </tr>
  <tr mat-footer-row class="pricing-footer" *matFooterRowDef="displayedColumns"></tr>
</table>
