<div class="round-config">
  <ul>
    <li *ngFor="let round of rounds()">
      @if (round.bookerOrder.length > 0) {
        Round {{ round.name }}
        <ul>
          @for (bookerId of round.bookerOrder; track bookerId; let i = $index) {
            <li>
              {{ offsetDate(round.startDate, i) | shortDate }}
              – {{ offsetDate(round.startDate, i + 1).plus({days: -1}) | shortDate }}:
              {{ bookerFor(bookerId)?.name || 'unknown' }}
            </li>
          }
        </ul>
      } @else {
        Round {{ round.name }}: {{ round.startDate | shortDate }} – {{ round.endDate | shortDate }}
      }
    </li>
  </ul>
</div>
